<!DOCTYPE html>
<html>
  <head>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
  
      li {
        float: left;
      }
  
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
  
      li a:hover {
        background-color: #04aa6d;
      }
  
      .active {
        background-color: #333;
      }
    </style>
  </head>
  <!-- Latest CDN production CSS -->
<link href="https://global.oktacdn.com/okta-signin-widget/6.0.0/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>

  <body>
    <ul>
      <li><a class="active" href="#home" routerLink="/">Home</a></li>
      <li><a href="#Product" routerLink="/product">Product</a></li>
      <li><a href="#Login" routerLink="/account/login" *ngIf="!isLogin">Login</a></li>
      <li><a href="#Logout" routerLink="/account/logout" *ngIf="isLogin">Logout</a></li>
    </ul>
  
    <div style="text-align: center; font-weight: bolder; font-size: 50px">
      <lib-alert></lib-alert>
      <router-outlet></router-outlet>
    </div>
  </body>
</html>